@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Capstone.Web.Models
@model List<Brewery>

<head>
    <link href="~/Content/paralaxMataan.css" rel="stylesheet" />
</head>

<style>
    .jumbotron {
        background-color: transparent;
    }

    .parallax-container {
        height: 250px;
    }

    .parallax img {
       max-width: 80%;
       min-height:20%;
        --min-width:20%;
    }

    a {
        text-decoration: none;
    }

    .layer {
        pointer-events: auto;
    }

    .pulse::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #00d1ffc4;
        border-radius: 8px;
        -webkit-transition: opacity .3s, -webkit-transform .3s;
        transition: opacity .3s, -webkit-transform .3s;
        transition: opacity .3s, transform .3s;
        transition: opacity .3s, transform .3s, -webkit-transform .3s;
        -webkit-animation: pulse-animation 1s cubic-bezier(0.01, 1.11, 0.61, 0.81) infinite;
        animation: pulse-animation 3s cubic-bezier(0, 0.08, 0.2, 1) infinite ;
        z-index: 200;
        box-shadow: 0px 0px 20px 0px #00ffd0;
    }

    .blue-grey.lighten-5 {
        background-color: #b8e2ff !important;
    }
    .fixed-bottom {
        position: fixed;
        right: 17px;
        bottom: inherit;
        left: inherit;
        z-index: 1030;
    }
    .scrollcolor {
        background-color: rgb(255, 255, 255) !important;
    }
    #sSpy li a {
        color: black !important;
        text-decoration: none !important;
    }
    .table-of-contents a.active {
        border-left: 2px solid #4AF4CD;
    }
    .table-of-contents a:hover {
        border-left: 1px solid #4AF4CD;
    }
    .container {
        width: 95% !important;
    }
</style>


<div class="row">
    <div id="testbeers" class="jumbotron col-md-10 col-lg-10 col-xl-10 mx-auto mt-4 p-3 smscreen">

        @foreach (Brewery b in Model)
        {

            <div class="col s12 m9 l10">
                <div class="parallax-container">
                    <div  class="parallax ">
                        <img class="center" src="/Photos/@b.BreweryPhoto.Filename" />
                    </div>
                </div>
                <div  class="section white z-depth-5 ">
                    <div class="container">
                        <div>
                            <h2 class="header mt-1 mb-3">@b.BreweryName</h2>
                        </div>

                        <div class="mb-3 justify-content-between">

                            <a href=@Url.Action("BreweryDetail", "Home" , new { brewID = b.BreweryID }) class=" @*pulse*@ waves-effect text-gray-dark blue-grey lighten-5 btn smbtn">Check Out Brewery</a>
                            <a href=@Url.Action("BreweryBeers", "Home", new { brewID = b.BreweryID }) class=" waves-effect text-gray-dark blue-grey lighten-5 btn ml-5 smbtn marT">Beer Selection</a>

                        </div>
                        <strong>@b.Address</strong>
                        <p id="r_@b.BreweryID" class="grey-text text-darken-3 lighten-3 mt-1 section scrollspy">
                            @b.History
                        </p>
                        <div id="@b.BreweryID" class="row justify-content-between">

                        </div>
                    </div>
                </div>
            </div>

        }

    </div>

 

    <div class="fixed-bottom hide-on-small-only">

        <div class="jumbotron scrollcolor pl-2 pr-0 py-0">
            <ul id="sSpy" class="section table-of-contents" style="width: 200px;">
                @foreach (Brewery b in Model)
        {

            <li><a href="#r_@b.BreweryID">@b.BreweryName</a></li>

}
            </ul>
        </div>
</div>
</div>


<style>
    .beerpic {
        width: auto;
        height: 150px;
        border-radius: 1px;
    }
</style>
<script>

    $(document).ready(function () {
        $('.scrollspy').scrollSpy();
    });


    $(document).ready(function () {
        $('.parallax').parallax();
    });

    var madtree1 = {};
    var woodburn2 = {};
    var ninegiant3 = {};
    var rhien4 = {};



    $(function () {
        $.ajax({
            url: "/Home/GetAllBeersJson",
            method: "GET",
            dataType: "json"
        }).done(function (beers) {
            console.log(beers.length)
            
            for (var i = 0; i <= beers.length; i++) {

                var brewid = beers[i].BreweryId

                if (beers[i].BreweryId == brewid) {
                    $(`#${beers[i].BreweryId}`).append(`<img style="width:auto; height:200px" class="z-depth-1 beerpic mx-auto my-3" src="/Photos/Beers/${beers[i].Name}.jpg" />`)

                }

                //if (beers[i].BreweryId == beers[id].BreweryId) {
                //    $(`#${beers[i].BreweryId}`).append(`<img style="width:auto; height:200px" class="z-depth-1 beerpic mx-auto my-3" src="/Photos/Beers/${beers[i].Name}.jpg" />`)
                    
                //}
                //else if (beers[i].BreweryId == beers[i].BreweryId) {
                //    $(`#${beers[i].BreweryId}`).append(`<img style="width:auto; height:200px" class="z-depth-1 beerpic mx-auto my-3" src="/Photos/Beers/${beers[i].Name}.jpg" />`)

                //}

                //if (beers[i].BreweryId == 1) {
                //    $("#1").append(`<img style="width:auto; height:150px" class="z-depth-3 beerpic mx-auto" src="/Photos/Beers/${beers[i].Name}.jpg" />`)
                //    madtree1[i] = beers[i]

                //}
                //if (beers[i].BreweryId == 2) {
                //    $("#2").append(`<img style="width:auto; height:150px" class="z-depth-3 beerpic" src="/Photos/Beers/${beers[i].Name}.jpg" />`)
                //    woodburn2[i] = beers[i]
                //}
                //if (beers[i].BreweryId == 3) {
                //    $("#3").append(`<img style="width:auto; height:150px" class="z-depth-3 beerpic" src="/Photos/Beers/${beers[i].Name}.jpg" />`)
                //    ninegiant3[i] = beers[i]
                //}
                //if (beers[i].BreweryId == 4) {
                //    $("#4").append(`<img style="width:auto; height:150px" class="z-depth-3 beerpic" src="/Photos/Beers/${beers[i].Name}.jpg" />`)
                //    rhien4[i] = beers[i]
                //}

            }

            console.log(madtree1)
            console.log(woodburn2)
            console.log(ninegiant3)
            console.log(rhien4)

        })


    })




</script>
