@using Capstone.Web.Models
@model Beer

@{
    string pic = $"{Model.Name}.jpg";
}

<div class="row mx-auto">
    <div class="col-sm-6 jumbotron mx-4 mx-lg-auto mx-sm-3 pt-4 center" style="height: fit-content;">
        <a href=@Url.Action("BreweryBeers", "Home", new { brewID = Model.BreweryId }) class=" waves-effect text-gray-dark teal accent-1 lighten-5 btn my-3">Back to Beer Selection</a>
        <div class="row">
            <div class="center" style="text-align:center">
                <h4 class="my-1" style="text-align:center">@Model.Name</h4>
                <img src="~/Photos/Beers/@pic" class="z-depth-1-half mt-2" style="width:230px; border:1px, solid black" />
                <div style="text-align:left">
                    <h5 style="text-align:center">@Model.BeerType </h5>
                    @Model.Description <strong>ABV: @Model.AlcoholByVolume</strong>
                </div>
            </div>
        </div>

        @*Users cannot view this review box unless they are registered*@
        <input hidden id="viewBeerId" value="@Model.BeerID" />

        @if (Session["UserId"] != null)
    {
        int userId = (int)Session["UserId"];

        <h6 style="text-align: center; "> Write a Review Here!</h6>

        <div class="input-field col s12">
            <select required name="rating" id="rating">
                <option value="" disabled selected>How many Stars?</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label>Rating</label>
        </div>

        @*<div class="field">
            <label for="rating">Rating (1-5):</label>
            <input type="number" id="rating" name="rating" required>
        </div>*@

        <div class="field">
            <label for="review">Review:</label>
            <input type="text" id="review" name="review" required>
        </div>

        <input hidden id="userId" name="userId" value="@userId" />
        <input hidden id="beerId" name="beerId" value="@Model.BeerID" />
        <input hidden id="date" name="date" value="@DateTime.Now" />
        <br />
        <div class="field">
            <button class="btn" id="submitreview" type="submit">Submit Review</button>
        </div>

}




    </div>
    <div class="mr-auto" style="width: 18rem; display: none" id="cardSpace">

    </div>
</div>


<script>

    $(document).ready(function () {
        $('select#rating').formSelect();
    });

    //-----------------------------POST A NEW REVIEW--------------------------
    $(function () {
        $("#submitreview").click(function (event) {
            var rating = $("#rating").val();
            var review = $("#review").val();
            var userId = $("#userId").val();
            var beerId = $("#beerId").val();
            var date = $("#date").val();
            console.log(userId);
            console.log(beerId);
            console.log(date);
            console.log(rating);
            console.log(review);

            $.ajax({
                url: `/Home/ReviewBeer?rating=${rating}&review=${review}&userId=${userId}&beerId=${beerId}&date=${date}`,
                method: "POST",
                dataType: "json",
                success: function (data) {
                    window.location.href = `/Home/BeerDetail?beerId=${beerId}`

                }
            })

        })
    })

    //--------------------------GET REVIEWS FROM DB----------------------------

    $(function () {
        var beerId = $("#viewBeerId").val();
        $.ajax({
            url: `/Home/GetReviewsForBeer?beerId=${beerId}`,
            method: "GET",
            dataType: "json"
        }).done(function (result) {
            console.log(result);



            //Display the returned reviews
            for (var i = 0; i < result.length; i++) {

                var reviewDate = new Date(parseInt(result[i].Date.replace("/Date(", "").replace(")/", ""), 10));

                var stars = `<img src="/Photos/${result[i].Rating}-star.png" style="width: 100px; height: auto" />`;
                var html = `<div class="card rounded" style="margin-left: 30px; background-color: #eceeef"><div class="card-body" style="margin-left: 10px; margin-bottom: 10px">${stars}<p class="card-text"><b>${result[i].Username}</b> on ${reviewDate.getMonth()}/${reviewDate.getDay()}/${reviewDate.getFullYear()} </p><p class="card-text">"${result[i].ReviewPost}"</p></div></div>`;


                $("#cardSpace").append(html);
        }
            $("#cardSpace").show();
    })

    })


</script>
