
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Brewery Imporium!</title>
    <script src="~/Scripts/tether.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/Materialize/css/materialize.css" rel="stylesheet" />
    <script src="~/Scripts/Validation/RegValidation.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Allerta+Stencil' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="~/webfonts/stylesheet.css" rel="stylesheet" />
    <link href="~/Content/Fonts.css" rel="stylesheet" />
    <link href="~/Content/flickity.css" rel="stylesheet" media="screen" />
    <script src="~/Content/flickity.pkgd.js"></script>
    <link href="~/Content/LayoutMovileCss.css" rel="stylesheet" />
    <style>
        ::-webkit-scrollbar {
            width: 12px;
            border-radius: 10px;
        }


        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: rgb(0, 255, 246);
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }

            ::-webkit-scrollbar-thumb:window-inactive {
                background: rgba(51, 113, 111, 0.43);
            }

        .beerback {
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .beerback {
            background-image: url('../../Photos/beerback4.jpg');
            min-height: 100%;
        }

        #layoutnav {
            background-color: rgb(224, 223, 232);
            z-index: 100;
        }

        /*.mroonbtn {
                 background-color: #b35858;
             }

                 .mroonbtn:hover, .mroonbtn:active, .mroonbtn:focus, .btn-outline-success.active {
                     background-color: #ff9e3d !important;
                     border-color: #ff9e3d;
                 }*/

        #login-email {
            align-content: center;
            background-color: aliceblue;
            opacity: 0.9;
            border-color: cornsilk;
            border-width: 2px;
        }

        #login-pw {
            align-content: center;
            background-color: aliceblue;
            opacity: 0.9;
            border-color: cornsilk;
            border-width: 2px;
        }

        #page-headers {
            font-family: 'Allerta Stencil';
            font-size: 30px;
        }

        .waves-effect.waves-brown .waves-ripple {
            /* The alpha value allows the text and background color
        of the button to still show through. */
            background-color: rgba(255, 255, 255, 0.8);
        }


        #layoutnav {
            position: fixed; /* Set the navbar to fixed position */
            top: 0; /* Position the navbar at the top of the page */
            width: 100%; /* Full width */
        }

        .main {
            margin-top: 65px;
        }
    </style>

</head>

 
<body class="beerback main">
    <nav id="layoutnav">
        <div class="nav-wrapper">
            @Html.ActionLink("Home", "Index", "Home", new { @class = "ml-2 waves-effect waves-brown btn teal accent-1 black-text" })
            @Html.ActionLink("Breweries", "AllBreweries", "Home", new { @class = "ml-2 waves-effect waves-brown btn teal accent-1 black-text hideBtn" })

            <a href="#" data-target="mobile-demo" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li>@Html.ActionLink("All Breweries", "AllBreweries", "Home", new { @class = "ml-2 waves-effect waves-brown btn teal accent-1 black-text" })</li>
                @if (Session["LoggedIn"] != "true")
        {
            <li>@Html.ActionLink("Register", "UserRegistration", "Home", new { @class = "waves-effect waves-brown btn teal accent-1 black-text" })</li>
            <li>@Html.ActionLink("Login", "Login", "Home", new { @class = "waves-effect waves-brown btn teal accent-1 black-text" })</li>
}


                @if (Session["BreweryId"] != null)
        {
            <li>@Html.ActionLink("Beer Manager", "ManageBeers", "Home", new { @class = "waves-effect waves-brown btn teal accent-1 black-text" })</li>
            <li>@Html.ActionLink("Edit Brewery Info", "UpdateBreweryInfo", "Home", new { @class = "waves-effect waves-brown btn teal accent-1 black-text" })</li>
}

                @if (Session["Admin"] != null)
        {
            <li>@Html.ActionLink("Add A Brewery", "AddBrewery", "Home", new { @class = "waves-effect waves-brown btn teal accent-1 black-text" })</li>
}
                @if (Session["LoggedIn"] == "true")
        {
            <li>@Html.ActionLink("Logout", "Logout", "Home", new { @class = "waves-effect waves-brown btn teal accent-1 black-text" })</li>
}
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">

        <li>@Html.ActionLink("All Breweries", "AllBreweries", "Home")</li>
        @if (Session["LoggedIn"] != "true")
        {
           <li>@Html.ActionLink("Register", "UserRegistration", "Home")</li>
           <li>@Html.ActionLink("Login", "Login", "Home")</li>
        }
        @if (Session["LoggedIn"] == "true")
        {
            <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
        }

        @if (Session["BreweryId"] != null)
        {
            <li>@Html.ActionLink("Beer Manager", "ManageBeers", "Home")</li>
            <li>@Html.ActionLink("Edit Brewery Info", "UpdateBreweryInfo", "Home")</li>
        }

        @if (Session["Admin"] != null)
        {
            <li>@Html.ActionLink("Add A Brewery", "AddBrewery", "Home")</li>
        }
    </ul>


    <div class="mx-auto" style="max-width:1300px">

    @RenderBody()
    </div>

    <script src="~/Content/Materialize/js/materialize.js"></script>
</body>
</html>


<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });

</script>